/* Adding Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 158px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 28px
}

p {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.link-button {
    background: #0a0826;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-right: 0px;
}

.link-button:hover {
    background: #0f0d36;
}

/* Top Header Styles Start */
.top-header {
    background: #49457d;
    height: 677px;
}

.nav-links {
    display: flex;
    align-items: center;
}

/* span.login_holder {
    display: flex;
    align-items: center;
} */

.top-header:hover {
    animation: slider 4s linear 0.3s infinite normal;
}

/* Top Navigation Styles Start */
nav {
    padding-top: 29px;
    padding-bottom: 38px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

span.sports-name {
    display: flex;
    font-size: 42px;
    font-weight: 400;
    align-items: center;
}

.menu-icon {
    display: flex;
    color: white;
    font-size: 24px;
}

.menu-icon .fa-bars {
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 36px;
    font-weight: 500;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

/* Top Navigation Styles Ends */
.top-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-banner-text h1 {
    width: 485px;
    color: white;
    margin-top: 0px;
    margin-bottom: 27px;
}

.top-banner-image img {
    width: 556.01px;
    height: 438px;
}

/* Top Header Styles End */

/* Players Section Style Starts */
.players {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 165px;
}

.player {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
}

.player:hover {
    color: white;
    background-color: #000000;
}

.player img {
    width: 300px;
    height: 256px;
    margin: 15px 15px 0px 15px;
}

.player-info {
    margin: 16px 15px;
}

.player-info h3 {
    margin: 10px 0px;
}

.player-info p {
    width: 300px;
    margin: 25px 0px;
    text-align: justify;
}

.player-info .link-button {
    background-color: #990011FF;
}

.player-info .link-button:hover {
    background-color: rgb(197, 5, 28);
}

/* Players Section Style Ends */

/* Football Updates Starts */
.football-updates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.updates-text {
    width: 469px;
    margin-right: 66px;
}

.updates-text h2 {
    color: #0A0826;
    width: 469px;
    margin: 8px 0px;
}

.updates-text p {
    margin-top: 8px;
    margin-bottom: 24px;
}

.updates-text a {
    background: #0a0826;
    width: 173px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}

.updates-text a:hover {
    background: #0f0c34;
}

.updates-image img {
    width: 567px;
    height: 427px;
}

/* Football Updates Ends */

/* Footer Style Starts */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 483.87px;
}

footer a {
    color: black;
}

.fab {
    font-size: 32px;
    margin-right: 10px;
}

footer p {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}

/* Footer Style Ends */

/* Media Query For Ipad/Tablets */

@media (min-width: 689px) and (max-width: 1024px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    /* Top Header Styles Start */
    .top-header {
        width: 100%;
        height: 500px;
    }

    .top-banner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .top-banner-text h1 {
        width: 278px;
        height: 138px;
        margin-bottom: 100px;
        margin-top: 46px;
    }

    .top-banner-text a {
        width: 168px;
        height: 100%;
    }

    .top-banner-image img {
        margin-top: 50px;
        width: 329px;
        height: 259.17px;
    }

    /* Top Header Styles End */

    /* Players Section Style Starts */
    .players {
        margin-top: 47px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 24px;
        margin-bottom: 60px;
    }

    /* Players Section Style Ends */

    /* Footer Style Starts */
    footer img {
        width: 275.8px;
    }

    footer p {
        text-align: center;
    }

    /* Footer Style Starts */
}